<footer class="py-4 bg-light shadow-sm">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item" *ngFor="let links of footerLinks">
        <a href="{{ links.href }}" class="nav-link px-2 text-muted">{{ links.name }}</a>
      </li>
    </ul>
    <p class="text-center text-muted mb-2">{{ footerCopyright }}</p>
    <ul class="nav justify-content-center">
      <li class="nav-item" *ngFor="let sc of footerSocialMedia">
        <a target="{{ sc.isExternal ? '_blank' : '_self' }}" href="{{ sc.href }}" class="nav-link px-2 text-muted"><i class="bi {{ sc.icon }} fs-4"></i></a>
      </li>
    </ul>
</footer>