<header class="shadow-sm">
    <div class="bg-dark collapse opacity-9" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 py-4 m-0 px-5 px-md-2">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container px-5 px-lg-0">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="bi bi-list"></span>
        </button>
        <a href="#" class="navbar-brand d-flex align-items-center">
            <i class="{{ headerIcon }} me-2"></i>
            <strong>{{ headerTitle }}</strong>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-search my-2"></i>
        </button>
      </div>
    </div>
  </header>